{% extends "base.html" %}

{% block content %}
<div class="login-form">
    <h1 class="auth-title">Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="username-block">
            {{ form.username.label}}<br>
            {{ form.username(class="username-lineedit") }}<br>
            {% for error in form.username.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p class="password-block">
            {{ form.password.label }}<br>
            {{ form.password(class="password-lineedit") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p class="btn-block">{{ form.submit(class="btn-login") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}